

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr;
    justify-content: space-between
}

.nav{
    grid-column: 3/4;
    grid-row: 1/1;
}

.logo{
    height: 100px;
}
header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
}

/* Estilos para la sección destacada */
.destacado {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.boton-destacado {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.boton-destacado:hover {
    background-color: #0056b3;
}

/* Estilos para el pie de página */
footer {
    background-color: black;
    color: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#submenu-servicios {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    margin-top: 5px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    grid-column: 5/5;
    grid-row: 2/2;
}

#submenu-servicios li {
    margin: 0;
    grid-column: 5/5;
    grid-row: 2/2;
}



#submenu-servicios li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    grid-column: 5/5;
    grid-row: 2/2;
}

#submenu-servicios li a:hover {
    background-color: #f0f0f0;
    grid-column: 5/5;
    grid-row: 2/2;
}



.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
}

p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #008CBA;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.registro_h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #005f75;
}

.datos_usuario h2{
    color: black;
}





.contacto2{
    text-align: center;
}